<h1 id="header-id">Welcome</h1>
<br>
<% if !current_user %>
	<%= render "layouts/subscribe2" %>
	<p> Sign up or login to read more </p>
	<br>
	<%= render partial: "index", locals: {posts: @posts} %>
<% else %>
	<%= render "layouts/subscribe" %>
	<% following = current_user.following.includes(:posts) %>
	<% following.each do |f| %>
		<% following_posts = f.posts.order("updated_at DESC") %>
		<% @posts = @posts - following_posts %>
		<%= render partial: "index", locals: {posts: following_posts} %>
	<% end %>	
	<%= render partial: "index", locals: {posts: @posts} %>
<% end %>
