<div class="row">


	<h5>Add a reply:</h5>

	<%= form_for([@post, @post.comments.build]) do |f| %>

    <%= f.hidden_field :parent_id, :value => @comment.id %>
    <%= f.hidden_field :level, :value => @comment.level + 1 %>
    <% if !@comment.base_id %>
        <%= f.hidden_field :base_id, :value => @comment.id %>
    <% else %>
        <%= f.hidden_field :base_id, :value => @comment.base_id %>
    <%end%>   
		<%= f.label :content %><br />
		<%= f.text_area :content, class: 'form-control' %>
		<%= f.submit class:"btn btn-primary" %>
	<% end %>

  </div>