<h1 id="header-id">Change your password</h1>
<%= form_for(@user, :url => { :action => "update" } ) do |f| %>
  <div class="field">
    <%= f.label :current_password %>(we need your current password to confirm your changes)
    <%= f.password_field :current_password, :autocomplete => "off", class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :password, " New Password" %><br />
    <%= f.password_field :password, :autocomplete => "off", class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div><br>
  <div class="action_container">
    <%= f.submit "Change Password", class: "btn btn-primary" %>
  </div>
<% end %>