<h1 id="header-id"> Users </h1>
<br>
<%= form_tag(users_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Users", autocomplete: "off", value: nil %>
	<%= button_tag "", type: 'submit', class: "button-search glyphicon glyphicon-search" %>
<% end %>

<br>
<%= render 'layouts/subscribe' %>
<div id="users">
	<% if @users.present? %>
	  <%= render "shared/users" %>
	<% else %>
	  <p><b>There are no users with name like: <%= params[:search] %>.</b></p>
	<% end %>
</div>
