<h1 id="header-id">Profile</h1>
<%= render 'layouts/subscribe' %>

<% if @user.image.present? %>
  <%= image_tag @user.image, class: "user-page-image" %>
<% else %>
  <img src="<%= asset_path( 'blank-person.png' ) %>" class="user-page-image"/>
<% end %> 

<span>
  <%= link_to " #{@user.followers.count} followers", followers_user_path(@user) %>
  <%= link_to " #{@user.following.count} following", following_user_path(@user) %> 
</span>

<table class="table table-hover">
  <thead>
    <th colspan="8">Username</th> 
    <th colspan="8">Name</th>   
    <th colspan="8">City</th> 
    <th colspan="8">Facebook Profile Link</th>    
  </thead>
  <tbody>
    <tr>
      <td colspan="8"><%= @user.username %></td>
      <td colspan="8"><%= @user.name %></td>
      <td colspan="8"><%= @user.city %></td>
      <td colspan="8"><%= link_to @user.facebook_profile, @user.facebook_profile %></td> 
    </tr>                                      
  </tbody>
</table>

<br> <br>
<h3> Posts </h3>
<br>
<%= render partial: "dashboard/index", locals: {posts: @posts} %>