<table class="table table-hover">
  <thead>
    <th colspan="8">Username</th>  
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td colspan="8"> <%= render partial: "shared/user_image", locals: {user: user}%>
                                          <%= link_to "  #{user.username}", user %></td>
        <% if current_user != user %>
          
          <% if current_user.received_friendships.find_by(user_id: user) or
                        current_user.request_friendships.find_by(friend_id: user) %>
            <td colspan="8"> Friends</td>
          <% elsif current_user.received_friend_requests.find_by(user_id:  user) %>
            <td colspan="8"> Respond to Request </td> 
          <% elsif !current_user.friend_requests.find_by(friend_id: user) %>
            <%= render partial: "shared/add_friend", locals: {user: user} %>
          <% else %>
            <%= render partial: "shared/cancel_request", locals: {user: user} %>
          <% end %>
          
          <% relationship = current_user.active_relationships.find_by(followed_id: user) %>
          <% if !relationship %>
            <%= render partial: "shared/link_to_follow", locals: {user: user} %>
          <% else %>
            <%= render partial: "shared/link_to_unfollow", locals: {user: user, relationship: relationship} %>
          <% end %> 
        <% else %>
          <td colspan="8"></td>
          <td colspan="8"></td>                                    
        <% end %>
     <% end %>
  </tbody>
</table>