<h1 id="header-id">Friend Requests</h1>
<%= render 'layouts/subscribe' %>
<table class="table table-hover">
  <thead>
    <th colspan="10">Username</th>   
  </thead>
  <tbody>
    <% @incoming.each do |user| %>
      <tr id="friend_request<%= user.id %>">
        <td colspan="8"> <%= render partial: "shared/user_image", locals: {user: user}%></td>
        <td colspan="10"><%= link_to "Accept", friend_request_path(user), method: :put, remote: true %></td>
        <td colspan="10"><%= link_to "Reject", friend_request_path(user), method: :delete, 
                      remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>