<h1 id="header-id">Listing Posts</h1>
<%= render 'layouts/subscribe' %>

<%= form_tag(posts_path, :method => "get", id: "search-post") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search posts", autocomplete: "off", value: nil %>
  <%= button_tag "", type: 'submit', class: "button-search glyphicon glyphicon-search" %>
<% end %>
<br>
<br>
<div id="posts" >
  <% if !@posts.present? %>
    <p><b>There are no posts with name like: <%= params[:search] %>.</b></p>
  <% else %>  
    <%= paginate @posts %>
      <table class="table table-hover">
        <tbody>
          <% @posts.each do |post| %>
            <div> <%= link_to post.title, post %> </div>
            <div class="show-less-content"><%= render partial: "shared/post", locals: {post: post} %></div>
            <br><br>
          <% end %>
        </tbody>
      </table>
    <%= paginate @posts %>
  <% end %>  
</div>



