<div id="post-title">
  <u><%= @post.title %></u>
</p>
</div>

<div id="post-content">
  <strong> <%= @post.content %> </strong>
  <div>
    <% if current_user == @post.user %>
      <%= link_to 'Edit', edit_post_path(@post) %> -
    <% end %>
    <span class="time-ago"><%= time_ago_in_words(@post.created_at) %></span>
  </div >
</div>
  
	<h3>Comments:</h3>


  <% comments =  @post.comments.where("parent_id" => nil)%>
  <%= render partial: "comment", locals: {comments: comments, l: 0} %>

	<h5>Add a comment:</h5>

	<%= form_for([@post, @post.comments.build]) do |f| %>
		<%= f.label :content %><br />
		<%= f.text_area :content, class: 'form-control' %>
		<%= f.submit class:"btn btn-primary" %>
	<% end %>

