	<%= render 'layouts/subscribe' %>
<div id="post-title">
  <u><%= @post.title %></u>
</div> 
<div id="post-content">
  <%= @post.content.html_safe %>
</div>
<%= render partial: "shared/post", locals: {post: @post} %>
<div>
  <% if @post.user != current_user %>
    <span> --posted by: <%= link_to @post.user.username, user_path(@post.user) %> </strong>
          <%= link_to " #{@post.user.followers.count} followers", followers_user_path(@post.user) %>
          <%= link_to " #{@post.user.following.count} following", following_user_path(@post.user) %> 
    </span>
  <% end %>
</div>

<%= rating_for @post, 'content', disable_after_rate: false, enable_half: true %> 

<h3>Comments:</h3>

<% comments = @post.comments.includes(:user, :children, :likes) %>
<%= render partial: "shared/comment", locals: {comments: (comments.where("level = ?", 0)), l: 0} %>

<div id="base-comment"> </div> 
<h5>Add a comment:</h5>

<%= form_for([@post, @post.comments.build], remote: true, class: "comment-form") do |f| %>
  <%= f.text_field :content, placeholder: "Comment", autocomplete: "off", class: 'form-control comment-content' %>
  <%= f.submit "Comment", class:"hide" %>
<% end %>

