
<% @post.comments.each do |comment| %>
    <% if comment.parent_id == parent_comment.id %>
    <p> reply to<%= parent_comment.id %>
      <strong><%= comment.user.name %></strong>  
    </p>
   	<p>
     	<%= comment.content %>	
    </p>
      
    <br>
	
      <% if comment.user_id==current_user.id %>
    	 <%= link_to 'Destroy', [comment.post, comment],
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
      <% end %>
      <br>
     <p id="replyp">Reply</p>
    <div id="reply" style="display:none">
  
    <%= render partial: "layouts/reply",  locals: {parent_comment: comment} %>
    </div>

    <br>
    <% end %>
  <% end %>


	<h5>Add a reply:</h5>

	<%= form_for([@post, @post.comments.build]) do |f| %>
    <%= f.hidden_field :parent_id, :value => parent_comment.id %>
    <% if parent_comment.base_id %>
        <%= f.hidden_field :base_id, :value => parent_comment.id %>
    <% else %>
        <%= f.hidden_field :parent_id, :value => parent_comment.base_id %>
    <%end%>   
		<%= f.label :content %><br />
		<%= f.text_area :content, class: 'form-control' %>
		<%= f.submit class:"btn btn-primary" %>
	<% end %>
