<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Browse
        </a>              
      </li>
      <li>
       <%= link_to "Dashboard", root_path %>      
      </li>
      <li>
        <%= link_to "All Blogs(#{Post.all.count})", posts_path %> 
      </li>
      <li>
        <%= link_to "My Blogs(#{current_user.posts.count})", my_blogs_posts_path %> 
      </li>
      <li>
        <%= link_to "New Post", new_post_path %> 
      </li>
      <li>
        <%= link_to "My Friends(#{current_user.friends.count})", friends_path %> 
      </li>
      <li>
        <%= link_to "Friend Requests(#{FriendRequest.where(friend_id: current_user).count})", friend_requests_path %> 
      </li>
       <li>
        <%= link_to "Sent Requests(#{current_user.friend_requests.count})", sent_requests_path %> 
      </li>
      <li>  
        <%= link_to 'Facebook Profile', current_user.facebook_profile %>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#myModal">About</a>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#myModal">Services</a>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#myModal">Contact</a>
      </li>
    </ul>
  </div>
</div>