<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Browse
        </a>              
      </li>
      <li>
       <%= link_to "Dashboard", root_path %>      
      </li>
      <li>
        <%= link_to "All Blogs", posts_path %> 
      </li>
      <li>
        <%= link_to "My Blogs", post_my_blogs_path %> 
      </li>
      <li>
        <%= link_to "New Post", new_post_path %> 
      </li>
      <li>
        <%= link_to "My Friends(#{current_user.friends.count})", friends_path %> 
      </li>
      <li>
        <%= link_to "Friend Requests(#{FriendRequest.where(friend_id: current_user).count})", friend_requests_path %> 
      </li>
       <li>
        <%= link_to "Sent Requests(#{current_user.friend_requests.count})", sent_requests_path %> 
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>