<!DOCTYPE html>
<html>
<head>
  <title>BlogDeviseApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<%= render 'layouts/header' %>
	</div>
	<% if current_user %>
 		<div class="side_div11">
			<%= render 'layouts/side_bar' %>
		</div>
	<% end %>

	<div class="body_div11">
		<div class="row" >
			<div class="col-md-8" >
				<p class="notice alert-success notice-msg">
					<% if notice %>
		 				<%= notice %>
		 			<% end %>
		 		</p>	
		 		<p class="notice alert-danger alert-msg">
		 			<% if alert %>	
		 				<%= alert %>
		 			<% end %> 
		 		</p>	
		 		<%= render 'layouts/modal' %>
				<%= yield %>
		  </div>  
		</div>
		<%= render 'layouts/footer' %>
	</div> 
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57c7b6ea06a4a5fc">
	</script>
</body>
</html>
